<div class="container">
  <div class="mt-2 p-3">
    <form>
      <div class="row">
        <div class="col-md-6 col-9 col-sm-6">
          <input
            name="pokemonNameSearch"
            type="text"
            [(ngModel)]="pokemonNameSearch"
            class="form-control"
            placeholder="Digite o nome do pokémon...">
        </div>
        <div class="col-md-3 col-2 col-sm-6">
          <button type="button" (click)="onSearch()" class="btn btn-outline-danger">Pesquisar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div *ngIf="!pokemonNotFound; else noResults" >
    <div class="row col-md-12">
      <div *ngFor="let pokemon of pokemons | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPokemons }" class="col-md-4 col-12 col-sm-6 p-3">
        <div class="card pokeapi-card">
          <img class="card-img-top img-fluid pokeapi-image" [src]="pokemon.sprite" alt="Imagem do pokémon">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">{{pokemon.name | titlecase }}</h5>
              <button type="button" (click)="goToDetailsPage(pokemon.id)" class="btn btn-danger">Ver detalhes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noResults>
    <div class="text-center">
      <div class="m-3">
        <img style="width: 150px" src="../../assets/img/not-found.png">
      </div>
      <div class="p-3">
        <span>Nenhum pokémon encontrado com o nome <b>{{pokemonName}}</b></span>
      </div>
    </div>
  </ng-template>
  <div class="row" *ngIf="!pokemonNotFound" >
    <pagination-controls previousLabel="Anterior" nextLabel="Próxima" (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>
