<div class="container col-md-12">
  <div class="main mt-2">
    <form>
      <div class="row">
        <div class="col-md-6">
          <span class="fa fa-search"></span>
          <input
            name="pokemonNameSearch"
            type="text"
            [(ngModel)]="pokemonNameSearch"
            class="form-control"
            placeholder="Digite o nome do pokémon...">
        </div>
        <div class="col-md-2">
          <button type="button" (click)="onSearch()" class="btn btn-primary">Pesquisar</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngFor="let pokemon of pokemons">

  </div>
</div>
